{% extends "base.html" %}

{% block title %}Cadencefier{% endblock %}

{% block content %}
<br><br>
<div class="container">
    <div class="row py-2 justify-content-center" style="box-shadow: 1px 1px 50px 50px green;">
            <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12 text-center">
                <h1>Time to Tempofy your spotify playlists!</h1>
                <p>First you need to give the app access to create playlists in spotify. Click the button below to begin.</p>
            </div>
        </div>
        <div class="row py-2 justify-content-center">
            <div class="col-lg-3 col-md-6 col-12 text-center">
                    <a href="{{ url_for('routes.request_spotify_token') }}" class="btn btn-success">Authorize spotify</a>
            </div>
        </div>
    </div>
{% endblock %}
