{% extends "base.html" %}

{% block title %}Playlist{% endblock %}

{% block content %}
<div class="container">
<form method="POST">
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            <h1>Create playlist</h1>
            <p>From this form info Tempofier creates a custom spotify playlist for you to workout in sync with your favorite songs.</p>
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.hidden_tag() }}
            {{ form.playlist_name.label(class="form-label") }}
            {{ form.playlist_name(class="form-control bg-success-subtle border-success") }}
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.genre_or_artist.label.text }}
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {% for subfield in form.genre_or_artist %}
            <tr>
                <td>{{ subfield(class="form-check-input bg-success-subtle border-success", type="radio") }}</td>
                <td>{{ subfield.label(class="form-check-label") }}</td>
            </tr>
            {% endfor %}
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.genre.label(class="form-label") }}
            {{ form.genre(class="form-control bg-success-subtle border-success")}}
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            <p>
                {{ form.tempo.label(class="form.label")}}
                {{ form.tempo(class="form-range form-success", value=115, min=70, max=160, step=1, oninput="outputUpdate(value)")}}
                <output for="tempo" id="selected-tempo">{{ form.tempo.data }}</output>
            </p>
        </div>
    </div>
    <div class="row py-3 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.submit(class="btn btn-success")}}
        </div>
    </div>
</form>
</div>
<script>
    function outputUpdate(value) {
        document.querySelector('#selected-tempo').value = value;
    }
</script>
{% endblock %}