{% extends "base.html" %}

{% block title %}Playlist{% endblock %}

{% block content %}
<div class="container">
<form method="POST" style="box-shadow: 1px 1px 50px 50px green;" id="form">
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            <h1>Create playlist</h1>
            <p>From this form info Tempofier creates a custom spotify playlist for you to workout in sync with your favorite songs.</p>
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.hidden_tag() }}
            {{ form.playlist_name.label(class="form-label") }}
            {{ form.playlist_name(class="form-control bg-success-subtle border-success") }}
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.genre.label(class="form-label") }}
            {{ form.genre(class="form-control bg-success-subtle border-success")}}
        </div>
    </div>
    <div class="row py-2 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            <p>
                {{ form.tempo.label(class="form.label")}}
                {{ form.tempo(class="form-range form-success", value=115, min=70, max=160, step=1, oninput="outputUpdate(value)")}}
                <output for="tempo" id="selected-tempo">{{ form.tempo.data }}</output>
            </p>
        </div>
    </div>
    <div class="row py-3 justify-content-center">
        <div class="col-lg-3 col-md-6 col-12 text-center">
            {{ form.submit(class="btn btn-success", id="submit-form")}}
        </div>
    </div>
</form>
<div class="spinner-border text-success mx-auto" role="status" id="spinner" style="display: none; position: absolute; top: 250px; left: 400px;">
    <span class="sr-only">Tempofying...</span>
</div>
</div>
<script>
    const form = document.getElementById('form')
    const spinner = document.getElementById('spinner')

    form.addEventListener('submit', function() {
        spinner.style.display = 'block'
    })

    window.onload = function() {
    spinner.style.display = 'none';
  };
  </script>
<script>
    function outputUpdate(value) {
        document.querySelector('#selected-tempo').value = value;
    }
</script>
{% endblock %}